.w-10 {
  width: 10%;
  background-color: #fafafa;
  display: flex;
  border-radius: 12px;
  box-shadow: 1px 0 0 rgb(22 8 43 / 10%);
}

.w-80 {
  width: 80%;
  background-color: white;
  box-shadow: 1px 0 0 rgb(22 8 43 / 20%);
}
.home-title {
  color: #5fccee;
  padding: 18px;;
}
p {
  padding: 15px;;
}
.menu {
  display: flex;
  flex-direction: column;
}
.menu a {
  text-decoration: none;
  padding: 10px;
  margin-left: 20px;
  font-size: 20px;
  color: black;
}

.main-layout {
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.button {
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}
.users-list ul {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 18px;
}
.users-list li{
  padding: 1rem;
  list-style: none;
  border: 1px solid gainsboro;
}
.users-list span {
  margin-left: 10px;
  color: gray
  
}